.ts2
{
	font-family: open-sans-n7, sans-serif;
}

.ts,.ts1,.ts3
{
	font-family: open-sans-n4, sans-serif;
}

#u5456-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu5437.frm-sub-st #u5446-4 p,#u5446-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu5437.frm-subm-err-st #u5453-4 p,#u5453-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu5437.frm-subm-ok-st #u5452-4 p,#u5452-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u5440-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u4908-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu4897.frm-sub-st #u4915-4 p,#u4915-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu4897.frm-subm-err-st #u4917-4 p,#u4917-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu4897.frm-subm-ok-st #u4916-4 p,#u4916-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u4904-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u10551-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu10547.frm-sub-st #u10554-4 p,#u10554-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu10547.frm-subm-err-st #u10552-4 p,#u10552-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu10547.frm-subm-ok-st #u10553-4 p,#u10553-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u10570-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu5454_input,#widgetu5454_prompt,#widgetu5438_input,#widgetu5438_prompt,#widgetu4906_input,#widgetu4906_prompt,#widgetu4902_input,#widgetu4902_prompt,#widgetu10548_input,#widgetu10548_prompt,#widgetu10568_input,#widgetu10568_prompt
{
	font-family: pt-sans, sans-serif;
}

#u5435-7,#u4918-5,#u10572-4
{
	font-family: pt-serif-n7, sans-serif;
}

#u7111-4
{
	font-family: open-sans-n4, sans-serif;
}


#u11150-4,#u11397-2,#u11397-3,#u11443-2,#u11443-3,#u11779-2,#u11779-3
{
	font-family: open-sans-n7, sans-serif;
}

#u11155-6,#u11161-4,#u15869-9,#u11173-15,#u11199-4,#u11212-4,#u11225-4,#u11238-4,#u11244-26,#u11257-4,#u11270-4,#u11296-4,#u11299-9,#u11312-4,#u11325-4,#u11348-9,#u11361-4,#u11374-4,#u11397-5,#u11397-6,#u11397-8,#u11397-10,#u11397-12,#u11397-14,#u11397-16,#u11397-18,#u11397-20,#u11397-22,#u11397-24,#u11397-26,#u11397-28,#u11397-30,#u11397-32,#u11397-34,#u11397-36,#u11397-38,#u11397-40,#u11397-42,#u11397-44,#u11397-46,#u11397-48,#u11410-4,#u11443-5,#u11443-6,#u11443-8,#u11443-9,#u11443-11,#u11443-12,#u11443-14,#u11776-4,#u11779-5,#u11779-6,#u11779-8,#u11822-13
{
	font-family: open-sans-n4, sans-serif;
}

