.ts2
{
	font-family: open-sans-n7, sans-serif;
}

.ts,.ts1,.ts3
{
	font-family: open-sans-n4, sans-serif;
}

#u5456-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu5437.frm-sub-st #u5446-4 p,#u5446-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu5437.frm-subm-err-st #u5453-4 p,#u5453-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu5437.frm-subm-ok-st #u5452-4 p,#u5452-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u5440-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u4908-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu4897.frm-sub-st #u4915-4 p,#u4915-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu4897.frm-subm-err-st #u4917-4 p,#u4917-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu4897.frm-subm-ok-st #u4916-4 p,#u4916-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u4904-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u10551-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu10547.frm-sub-st #u10554-4 p,#u10554-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu10547.frm-subm-err-st #u10552-4 p,#u10552-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu10547.frm-subm-ok-st #u10553-4 p,#u10553-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u10570-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu5454_input,#widgetu5454_prompt,#widgetu5438_input,#widgetu5438_prompt,#widgetu4906_input,#widgetu4906_prompt,#widgetu4902_input,#widgetu4902_prompt,#widgetu10548_input,#widgetu10548_prompt,#widgetu10568_input,#widgetu10568_prompt
{
	font-family: pt-sans, sans-serif;
}

#u5435-7,#u4918-5,#u10572-4
{
	font-family: pt-serif-n7, sans-serif;
}

#u7111-4
{
	font-family: open-sans-n4, sans-serif;
}


#u12215-4,#u12238-2,#u12238-3,#u12252-2,#u12265-5,#u12311-2,#u12311-11,#u12384-2,#u12397-4,#u12423-5,#u12475-6,#u12514-6
{
	font-family: open-sans-n7, sans-serif;
}

#u12218-4,#u12220-4,#u12227-39,#u15878-9,#u12238-5,#u12252-3,#u12252-5,#u12265-2,#u12265-3,#u12285-7,#u12298-4,#u12311-3,#u12311-5,#u12311-6,#u12311-8,#u12311-9,#u12324-4,#u12375-4,#u12378-4,#u12381-4,#u12384-3,#u12384-5,#u12410-4,#u12423-2,#u12423-3,#u12436-4,#u12449-8,#u12462-5,#u12488-8,#u12501-13,#u12514-2,#u12514-4,#u12514-7,#u12514-9,#u12527-4
{
	font-family: open-sans-n4, sans-serif;
}

