.ts2
{
	font-family: open-sans-n7, sans-serif;
}

.ts,.ts1,.ts3
{
	font-family: open-sans-n4, sans-serif;
}

#u5456-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu5437.frm-sub-st #u5446-4 p,#u5446-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu5437.frm-subm-err-st #u5453-4 p,#u5453-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu5437.frm-subm-ok-st #u5452-4 p,#u5452-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u5440-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u4908-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu4897.frm-sub-st #u4915-4 p,#u4915-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu4897.frm-subm-err-st #u4917-4 p,#u4917-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu4897.frm-subm-ok-st #u4916-4 p,#u4916-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u4904-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u10551-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu10547.frm-sub-st #u10554-4 p,#u10554-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu10547.frm-subm-err-st #u10552-4 p,#u10552-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu10547.frm-subm-ok-st #u10553-4 p,#u10553-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u10570-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu5454_input,#widgetu5454_prompt,#widgetu5438_input,#widgetu5438_prompt,#widgetu4906_input,#widgetu4906_prompt,#widgetu4902_input,#widgetu4902_prompt,#widgetu10548_input,#widgetu10548_prompt,#widgetu10568_input,#widgetu10568_prompt
{
	font-family: pt-sans, sans-serif;
}

#u5435-7,#u4918-5,#u10572-4
{
	font-family: pt-serif-n7, sans-serif;
}

#u7111-4
{
	font-family: open-sans-n4, sans-serif;
}


#u11828-4,#u11890-2,#u11988-2,#u12097-2,#u12172-2
{
	font-family: open-sans-n7, sans-serif;
}

#u11831-4,#u11833-4,#u15873-9,#u11840-15,#u11886-4,#u11890-3,#u11890-5,#u11890-6,#u11890-8,#u11890-10,#u11890-13,#u11890-14,#u11890-16,#u11890-17,#u11890-19,#u11890-21,#u11890-23,#u11890-25,#u11890-27,#u11913-4,#u11916-10,#u11949-4,#u11952-9,#u11985-4,#u11988-3,#u11988-5,#u11988-6,#u11988-8,#u11988-10,#u11988-12,#u11988-14,#u11988-16,#u11988-18,#u11988-20,#u11988-22,#u11988-24,#u11988-26,#u11988-28,#u12038-20,#u12051-4,#u12054-13,#u12097-3,#u12097-5,#u12097-6,#u12097-8,#u12120-4,#u12123-4,#u12126-7,#u12169-4,#u12172-3,#u12172-5,#u12172-6,#u12172-8,#u12172-10,#u12172-12,#u12172-14,#u12172-16,#u12172-18,#u12172-20,#u12172-22,#u12172-24,#u12172-26,#u12172-28,#u12172-30,#u12172-32,#u12172-34,#u12172-36,#u12172-38,#u12172-40,#u12172-42,#u12172-44
{
	font-family: open-sans-n4, sans-serif;
}

