.ts2
{
	font-family: open-sans-n7, sans-serif;
}

.ts,.ts1,.ts3
{
	font-family: open-sans-n4, sans-serif;
}

#u5456-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu5437.frm-sub-st #u5446-4 p,#u5446-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu5437.frm-subm-err-st #u5453-4 p,#u5453-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu5437.frm-subm-ok-st #u5452-4 p,#u5452-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u5440-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u4908-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu4897.frm-sub-st #u4915-4 p,#u4915-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu4897.frm-subm-err-st #u4917-4 p,#u4917-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu4897.frm-subm-ok-st #u4916-4 p,#u4916-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u4904-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u10551-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu10547.frm-sub-st #u10554-4 p,#u10554-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu10547.frm-subm-err-st #u10552-4 p,#u10552-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu10547.frm-subm-ok-st #u10553-4 p,#u10553-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u10570-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu5454_input,#widgetu5454_prompt,#widgetu5438_input,#widgetu5438_prompt,#widgetu4906_input,#widgetu4906_prompt,#widgetu4902_input,#widgetu4902_prompt,#widgetu10548_input,#widgetu10548_prompt,#widgetu10568_input,#widgetu10568_prompt
{
	font-family: pt-sans, sans-serif;
}

#u5435-7,#u4918-5,#u10572-4
{
	font-family: pt-serif-n7, sans-serif;
}

#u7111-4
{
	font-family: open-sans-n4, sans-serif;
}


#u12533-4,#u12588-2,#u12620-2,#u12636-2,#u12652-2,#u12681-2
{
	font-family: open-sans-n7, sans-serif;
}

#u12536-4,#u12538-4,#u15882-9,#u12545-18,#u12585-4,#u12588-3,#u12588-5,#u12588-6,#u12588-8,#u12601-4,#u12604-39,#u12617-4,#u12620-3,#u12620-5,#u12620-6,#u12620-8,#u12620-10,#u12620-12,#u12620-14,#u12620-16,#u12620-18,#u12620-20,#u12620-22,#u12620-24,#u12620-26,#u12620-28,#u12620-30,#u12620-32,#u12633-4,#u12636-3,#u12636-5,#u12636-6,#u12636-8,#u12636-10,#u12636-12,#u12636-14,#u12636-16,#u12636-18,#u12636-20,#u12649-4,#u12652-3,#u12652-5,#u12652-6,#u12652-8,#u12665-7,#u12678-4,#u12681-3,#u12681-5,#u12681-6,#u12681-8,#u12681-10,#u12681-12,#u12681-14,#u12681-16,#u12681-18,#u12681-20,#u12681-22,#u12681-24,#u12694-4,#u12720-4
{
	font-family: open-sans-n4, sans-serif;
}

