#u2269
{
	background: transparent url("../images/logolongbigcoolupver2.png") no-repeat center bottom;
	background-size: cover;
}

#u5424
{
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../images/freemeasurementbtn205x35.png") no-repeat center center;
}

#u5424:hover
{
	background: transparent url("../images/freemeasurementpressbtn205x35.png") no-repeat center center;
}

#u5433
{
	border-width: 0px;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	-pie-background: rgba(0,0,0,0.9);
}

#u5434,#widgetu5454
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u5456-4
{
	border-style: solid;
	border-width: 1px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	border-radius: 6px;
	color: #9B9B9B;
	line-height: 18px;
	font-size: 18px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#widgetu5454.non-empty-st #u5456-4
{
	background-color: #FFFFFF;
}

#widgetu5454:hover #u5456-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu5454.focus-st #u5456-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu5454.non-empty-st #u5456-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu5454:hover #u5456-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu5454.focus-st #u5456-4 *
{
	color: #000000;
	font-style: normal;
}

#u5446-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	font-size: 12px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
}

#u5453-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
}

#u5452-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #2BA22B;
	line-height: 12px;
	font-size: 12px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
}

#u5447-17
{
	background: transparent url("../images/u5447-17.png") no-repeat 0px 0px;
}

#u5447-17:hover
{
	background: transparent url("../images/u5447-17-r.png") no-repeat 0px 0px;
}

#u5447-17:active
{
	background: transparent url("../images/u5447-17-m.png") no-repeat 0px 0px;
}

#widgetu5437.frm-sub-st #u5447-17
{
	background: transparent url("../images/u5447-17-fs.png") no-repeat 0px 0px;
}

#widgetu5438
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u5440-4
{
	border-style: solid;
	border-width: 1px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	border-radius: 6px;
	color: #9B9B9B;
	line-height: 18px;
	font-size: 18px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
}

#widgetu5438.non-empty-st #u5440-4
{
	background-color: #FFFFFF;
}

#widgetu5438:hover #u5440-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu5438.focus-st #u5440-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu5438.non-empty-st #u5440-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu5438:hover #u5440-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu5438.focus-st #u5440-4 *
{
	color: #000000;
	font-style: normal;
}

#u2413-4,#u2266-4
{
	background-color: transparent;
	color: #6E6E6E;
	line-height: 18px;
	font-size: 15px;
	text-align: right;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
}

#u2267-6
{
	background-color: transparent;
	text-align: right;
	font-family: Courier New, Courier, monospace;
	font-weight: bold;
}

#u2267-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2267
{
	font-size: 16px;
	line-height: 19px;
}

#u2267-2
{
	line-height: 17px;
}

#u2267-3
{
	font-size: 27px;
	color: #C1272D;
	line-height: 32px;
}

#u4921
{
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../images/requestcallbtn205x35.png") no-repeat center center;
}

#u4921:hover
{
	background: transparent url("../images/requestcallpressbtn205x35.png") no-repeat center center;
}

#u4895
{
	border-width: 0px;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	-pie-background: rgba(0,0,0,0.9);
}

#u5436,#u4919
{
	border-color: #000000;
	background-color: #6EA900;
	border-radius: 10px;
}

#u5435-7,#u4918-5
{
	background-color: transparent;
	font-family: pt-serif, sans-serif;
	font-weight: 700;
}

#u5435-4,#u4918-2
{
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	color: #FFFFFF;
}

#u5435-5,#u4918-3
{
	font-size: 33px;
	line-height: 40px;
}

#u5430,#u4896,#widgetu4906
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u4908-4
{
	border-style: solid;
	border-width: 1px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	border-radius: 6px;
	color: #9B9B9B;
	line-height: 18px;
	font-size: 18px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#widgetu4906.non-empty-st #u4908-4
{
	background-color: #FFFFFF;
}

#widgetu4906:hover #u4908-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu4906.focus-st #u4908-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu4906.non-empty-st #u4908-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu4906:hover #u4908-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu4906.focus-st #u4908-4 *
{
	color: #000000;
	font-style: normal;
}

#u4915-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	font-size: 12px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
}

#u4917-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
}

#u4916-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #2BA22B;
	line-height: 12px;
	font-size: 12px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
}

#widgetu5437.frm-subm-ok-st #u5452-4 p,#widgetu4897.frm-subm-ok-st #u4916-4 p
{
	color: #2BA22B;
	font-size: 14px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u4910-17
{
	background: transparent url("../images/u4910-17.png") no-repeat 0px 0px;
}

#u4910-17:hover
{
	background: transparent url("../images/u4910-17-r.png") no-repeat 0px 0px;
}

#u4910-17:active
{
	background: transparent url("../images/u4910-17-m.png") no-repeat 0px 0px;
}

#widgetu4897.frm-sub-st #u4910-17
{
	background: transparent url("../images/u4910-17-fs.png") no-repeat 0px 0px;
}

#widgetu4902
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u4904-4
{
	border-style: solid;
	border-width: 1px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	border-radius: 6px;
	color: #9B9B9B;
	line-height: 18px;
	font-size: 18px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
}

#widgetu4902.non-empty-st #u4904-4
{
	background-color: #FFFFFF;
}

#widgetu4902:hover #u4904-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu4902.focus-st #u4904-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu4902.non-empty-st #u4904-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu4902:hover #u4904-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu4902.focus-st #u4904-4 *
{
	color: #000000;
	font-style: normal;
}

#u2268
{
	background-color: #965AA4;
	opacity: 0.67;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=67)";
	filter: alpha(opacity=67);
}

#u2274-4
{
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
}

#u2274-4:hover
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-color: #000000;
	background-color: #93278F;
	border-radius: 0px;
}

#u2274-4:active
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-color: #000000;
	background-color: transparent;
	border-radius: 10px 0px 10px 0px ;
}

#u2274-2
{
	padding-top: 12px;
}

#u2275-4
{
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
}

#u2275-4:hover
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-color: #000000;
	background-color: #93278F;
}

#u2275-4:active p
{
	padding-top: 12px;
}

#u2275-2
{
	padding-top: 12px;
}

#u2276-4
{
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
}

#u2276-4:hover
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-color: #000000;
	background-color: #93278F;
}

#u2276-4:active p
{
	padding-top: 12px;
}

#u2276-2
{
	padding-top: 12px;
}

#u13941-4
{
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
}

#u13941-4:hover
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-color: #000000;
	background-color: #93278F;
}

#u13941-4:active p
{
	padding-top: 12px;
}

#u13941-2
{
	padding-top: 12px;
}

#u16877-4
{
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
}

#u16877-4:hover
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-color: #000000;
	background-color: #93278F;
}

#u16877-4:active p
{
	padding-top: 12px;
}

#u16877-2
{
	padding-top: 12px;
}

#u7592-4
{
	border-width: 0px;
	border-color: transparent;
	color: #FFFFFF;
	line-height: 16px;
	font-size: 16px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	background: transparent url("../images/down-arrow.png") no-repeat right center;
}

#u7592-4:hover
{
	background: #93278F url("../images/down-arrow.png") no-repeat right center;
}

#u7590-4
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
}

#u7590-4:hover
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-color: #000000;
	background-color: #93278F;
}

#u7590-4:active p
{
	padding-top: 12px;
}

#u7590-2
{
	padding-top: 12px;
}

#u7587-4
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
}

#u7587-4:hover
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-color: #000000;
	background-color: #93278F;
}

#u7587-4:active p
{
	padding-top: 12px;
}

#u7587-2
{
	padding-top: 12px;
}

#u7589-4
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
}

#u7589-4:hover
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-color: #000000;
	background-color: #93278F;
}

#u7589-4:active p
{
	padding-top: 12px;
}

#u7589-2
{
	padding-top: 12px;
}

#u7588-4
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
}

#u7588-4:hover
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-color: #000000;
	background-color: #93278F;
}

#u7588-4:active p
{
	padding-top: 12px;
}

#u7588-2
{
	padding-top: 12px;
}

#u7591-4
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
}

#u7591-4:hover
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-color: #000000;
	background-color: #93278F;
}

#u7591-4:active p
{
	padding-top: 12px;
}

#u7591-2
{
	padding-top: 12px;
}

#u15923-6
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	color: #FFFFFF;
	line-height: 2px;
	font-size: 16px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
}

#u15923-6:hover
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-color: #000000;
	background-color: #93278F;
}

#u15923-6:active p
{
	padding-top: 12px;
}

#u15923-2
{
	padding-top: 12px;
}

#u15923-4
{
	padding-top: 12px;
}

#u15926-4
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
}

#u15926-4:hover
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-color: #000000;
	background-color: #93278F;
}

#u15926-4:active p
{
	padding-top: 12px;
}

#u15926-2
{
	padding-top: 12px;
}

#u15929-4
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
}

#u15929-4:hover
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-color: #000000;
	background-color: #93278F;
}

#u15929-4:active p
{
	padding-top: 12px;
}

#u15929-2
{
	padding-top: 3px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.AccordionPanelTab /* pamphlet2 */
{
	cursor: pointer;
}

#accordionu7584,#accordionu15321
{
	border-color: #667980;
	background-color: transparent;
}

#u15329-4
{
	border-width: 0px;
	border-color: transparent;
	color: #FFFFFF;
	line-height: 16px;
	font-size: 16px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	background: transparent url("../images/down-arrow.png") no-repeat right center;
}

#u7592-4.AccordionPanelTabOpen,#u15329-4:hover
{
	background: #93278F url("../images/down-arrow.png") no-repeat right center;
}

#u15329-4.AccordionPanelTabOpen
{
	background: #93278F url("../images/down-arrow.png") no-repeat right center;
}

#u7592-4.AccordionPanelTabOpen p,#u15329-4.AccordionPanelTabOpen p
{
	text-align: left;
	font-weight: bold;
}

#u7586,#u15323
{
	border-color: #FFFFFF;
	background-color: #B991C2;
}

#u15327-4
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
}

#u15327-4:hover
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-color: #000000;
	background-color: #93278F;
}

#u15327-4:active p
{
	padding-top: 12px;
}

#u15327-2
{
	padding-top: 6px;
}

#u15324-4
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
}

#u15324-4:hover
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-color: #000000;
	background-color: #93278F;
}

#u15324-4:active p
{
	padding-top: 12px;
}

#u15324-2
{
	padding-top: 6px;
}

#u15326-4
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
}

#u15326-4:hover
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-color: #000000;
	background-color: #93278F;
}

#u2275-4:active,#u2276-4:active,#u13941-4:active,#u16877-4:active,#u7590-4:active,#u7587-4:active,#u7589-4:active,#u7588-4:active,#u7591-4:active,#u15923-6:active,#u15926-4:active,#u15929-4:active,#u15327-4:active,#u15324-4:active,#u15326-4:active
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-color: #000000;
	background-color: transparent;
	border-radius: 0px;
}

#u15326-4:active p
{
	padding-top: 12px;
}

#u15326-2
{
	padding-top: 12px;
}

#u5431,#u4893,#u7585,#u15322,#u13944
{
	background-color: transparent;
}

#u4892,#widgetu10548
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10551-4
{
	border-style: solid;
	border-width: 1px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	border-radius: 6px;
	color: #9B9B9B;
	line-height: 18px;
	font-size: 18px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#widgetu10548.non-empty-st #u10551-4
{
	background-color: #FFFFFF;
}

#widgetu10548:hover #u10551-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu10548.focus-st #u10551-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu10548.non-empty-st #u10551-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu10548:hover #u10551-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu10548.focus-st #u10551-4 *
{
	color: #000000;
	font-style: normal;
}

#widgetu5454_input,#widgetu5454_prompt,#widgetu4906_input,#widgetu4906_prompt,#widgetu10548_input,#widgetu10548_prompt
{
	color: #9B9B9B;
	font-family: pt-sans, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
}

#u10554-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	font-size: 12px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
}

#widgetu5437.frm-sub-st #u5446-4 p,#widgetu4897.frm-sub-st #u4915-4 p,#widgetu10547.frm-sub-st #u10554-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u10552-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
}

#widgetu5437.frm-subm-err-st #u5453-4 p,#widgetu4897.frm-subm-err-st #u4917-4 p,#widgetu10547.frm-subm-err-st #u10552-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u10553-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #2BA22B;
	line-height: 12px;
	font-size: 12px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
}

#widgetu5437.frm-sub-st #u5446-4,#widgetu5437.frm-subm-err-st #u5453-4,#widgetu5437.frm-subm-ok-st #u5452-4,#widgetu4897.frm-sub-st #u4915-4,#widgetu4897.frm-subm-err-st #u4917-4,#widgetu4897.frm-subm-ok-st #u4916-4,#widgetu10547.frm-sub-st #u10554-4,#widgetu10547.frm-subm-err-st #u10552-4,#widgetu10547.frm-subm-ok-st #u10553-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#widgetu10547.frm-subm-ok-st #u10553-4 p
{
	color: #2BA22B;
	font-size: 19px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u10563-17
{
	background: transparent url("../images/u10563-17.png") no-repeat 0px 0px;
}

#u10563-17:hover
{
	background: transparent url("../images/u10563-17-r.png") no-repeat 0px 0px;
}

#u10563-17:active
{
	background: transparent url("../images/u10563-17-m.png") no-repeat 0px 0px;
}

#widgetu10547.frm-sub-st #u10563-17
{
	background: transparent url("../images/u10563-17-fs.png") no-repeat 0px 0px;
}

#widgetu10568
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#widgetu5454.fld-err-st,#widgetu5438.fld-err-st,#widgetu4906.fld-err-st,#widgetu4902.fld-err-st,#widgetu10548.fld-err-st,#widgetu10568.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
}

#u10570-4
{
	border-style: solid;
	border-width: 1px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	border-radius: 6px;
	color: #9B9B9B;
	line-height: 18px;
	font-size: 18px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
}

#widgetu10568.non-empty-st #u10570-4
{
	background-color: #FFFFFF;
}

#widgetu10568:hover #u10570-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu10568.focus-st #u10570-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu5454.fld-err-st #u5456-4,#widgetu5438.fld-err-st #u5440-4,#widgetu4906.fld-err-st #u4908-4,#widgetu4902.fld-err-st #u4904-4,#widgetu10548.fld-err-st #u10551-4,#widgetu10568.fld-err-st #u10570-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
}

#widgetu10568.non-empty-st #u10570-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu10568:hover #u10570-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu10568.focus-st #u10570-4 *
{
	color: #000000;
	font-style: normal;
}

#widgetu5454.fld-err-st #u5456-4 *,#widgetu5438.fld-err-st #u5440-4 *,#widgetu4906.fld-err-st #u4908-4 *,#widgetu4902.fld-err-st #u4904-4 *,#widgetu10548.fld-err-st #u10551-4 *,#widgetu10568.fld-err-st #u10570-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu5438_input,#widgetu5438_prompt,#widgetu4902_input,#widgetu4902_prompt,#widgetu10568_input,#widgetu10568_prompt
{
	color: #9B9B9B;
	font-family: pt-sans, sans-serif;
	font-size: 18px;
	font-weight: 400;
}

#widgetu5454.non-empty-st #widgetu5454_prompt,#widgetu5438.non-empty-st #widgetu5438_prompt,#widgetu4906.non-empty-st #widgetu4906_prompt,#widgetu4902.non-empty-st #widgetu4902_prompt,#widgetu10548.non-empty-st #widgetu10548_prompt,#widgetu10568.non-empty-st #widgetu10568_prompt
{
	visibility: hidden;
}

#u10572-4
{
	background-color: transparent;
	color: #000000;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: pt-serif, sans-serif;
	font-weight: 700;
}

#u7108
{
	background-color: #B991C2;
}

#u7108_align_to_page
{
	max-width: 1200px;
}

#u7111-4
{
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u10627
{
	-pie-box-shadow: 0px 0px 13px 3px #FFFFFF;
	box-shadow: 0px 0px 13px rgba(255,255,255,0.67),0px 0px 13px rgba(255,255,255,0.67);
	background: #E1B9EA url("../images/logolongbigcoolup.png") no-repeat center top;
	background-size: cover;
}


